{% extends 'invoice/base.html' %}

{% block title_block %}
  Item/Service
{% endblock %}

{% block body_block %}
  <div class="input-container">
    <h3>Edit item/service</h3>

    <form id="party-form" action="{% url 'invoice:item' p_id %}" method="post">
      {% csrf_token %}

      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}

      <table class="input-table">
        {% for field in form.visible_fields %}
          {{ field.errors }}
          <tr>
            <td class="label">{{ field.label }}</td>
            <td class="field">{{ field }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td>
            <a class="anchor-btn" href="{% url 'invoice:stock' %}">
              Back
            </a>
          </td>
          <td class="right-align">
            <button type="submit" class="btn btn-primary">
              Save
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
{% endblock %}