<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    MAEL -{% block title_block %}
    {% endblock title_block %}
  </title>

  {% block css_block %}
  {% endblock css_block %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <nav class="navbar">
    <div class="nav-center">
      <div class="logo">
        <a href="/" class="brand-logo">MAEL</a>
      </div>
      <div class="nav-links">
        <a href="/invoice/" class="nav-link">New Invoice</a>
        <a href="/stock/" class="nav-link">Stocks</a>
        <a href="/parties/" class="nav-link">Parties</a>
        <a href="{% url 'invoice:profile' 1 %}" class="nav-link">Profile</a>

        {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="dropbtn">
              Hi, {{ user.first_name }}
            </button>
            <div class="dropdown-content">
              <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </div>
          </div>
        {% else %}
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container">
    {% block body_block %}
    {% endblock body_block %}
  </div>

  <footer>
    <p>Developed by Vilash Daate</p>
  </footer>
</body>
</html>